.form-addon-100px-centro {
    min-width: 100px;
    text-align: center;
}

.btn_cria_grupo {
    float: left;
    position: relative;
    top: -77px;
    left: 271px;
}

.btn_add_perm {
    float: left;
    position: relative;
    top: -10px;
}

.add_permissao, .add_usuario{
    margin-bottom: 25px;
}

.form_busca{
    margin-bottom: 30px;
}

#error-message{
    color: red;
    font-weight: 600;
    font-size: 1.2em;
}