{% load i18n %}
<h1>{% trans "Definição de senha" %}</h1>

{% trans "Você requisitou a definição de senha para o site" %} {{ site_name }}. <br>
{% trans "Acesse o link abaixo para definir a sua senha:" %} <br>
<br>

{{ protocol }}://{{ domain }}{% url 'usuarios:reseta_senha' uidb64=uid token=token %} <br>

{% trans "Nome de usuário:" %} {{ user.get_username }} <br>

{% trans "Obrigado por acessar o site. Equipe" %} {{ site_name }}
<br>