{% extends "usuarios/base_usuarios.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% trans "Confirmar exclusão" %}</h2>
        <p>{% trans "Deseja realmente remover o objeto" %} <strong> {{ objeto }} </strong>?</p>
        <p>{% trans "O objeto e todos seus dependentes serão excluídos." %}</p>
        <br>
        <div>
            <form method="post">
                {% csrf_token %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ prev_link }}">{% trans 'Cancelar' %}</a>
                    <input class="btn btn-danger" type="submit" value="{% trans 'Excluir' %}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
