{% extends "usuarios/base_usuarios.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='pagination'>
                    {% if u_form.instance.pk %}
                        <p>
                            <a href="{% url 'usuarios:detalhe_usuario' user.pk %}">{% trans "Detalhe do usuário" %}</a> &raquo; {{ user }}
                        </p>
                    {% else %}
                        <p><a href="{% url 'usuarios:lista_usuarios' %}">{% trans "Usuários" %}</a> &raquo; {% trans "Novo usuário" %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if u_form.instance.pk %}
            <h2>{% trans "Editar usuário" %}</h2>
        {% else %}
            <h2>{% trans "Cadastrar novo usuário" %}</h2>
        {% endif %}
        <form method="post" class="form-horizontal form-pesquisa" role="form">
            {% csrf_token %}
            {% for f in u_form %}
                {{ f | boots_field }}
            {% endfor %}
            <br/>
            <button type="submit" class="btn btn-primary" name='{% trans "Salvar" %}'>
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;{% trans "Salvar" %}
            </button>
        </form>
        {% if g_form %}
                <a class="adicionaGrupo btn btn-default" href="{% url 'usuarios:lista_grupos' %}">
                    {% trans "Adicionar novo grupo" %}
                </a>
                <div class="formAdicionaGrupo">
                    <br/>
                    <br/>
                    <form class="form-horizontal form-pesquisa" method="post" role='form'>
                        {% csrf_token %}
                        {% for field in g_form %}
                            {{ field | boots_field }}
                        {% endfor %}
                        <button type="submit" class="btn btn-sm btn-default">{% trans "Adicionar" %}</button>
                    </form>
                </div>
                <br/>
                <br/>
                <table class="table table-hover">
                    <th>{% trans "Nome do grupo" %}</th>
                    <th>{% trans "Ações" %}</th>
                    {% for g in usuario.groups.all %}
                        <tr>
                            <td><a href="{% url 'usuarios:detalhe_grupo' g.pk %}">{{g}}</a></td>
                            <td>
                                <a class="btn btn-danger btn-xs"
                                   href="{% url 'usuarios:exclui_usuario_grupo' 'usuario' g.pk usuario.pk %}">
                                    {% if user == usuario %}
                                        {% trans "Sair do grupo" %}
                                    {% else %}
                                        {% trans "Remover do grupo" %}
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan='2' class='text-center'>{% trans "O usuário não está em nenhum grupo" %}</td></tr>
                    {% endfor %}
                </table>
            {% endif %}
        <br/>
        <br/>
    </div>
{% endblock %}
