{% extends "usuarios/base_usuarios.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h1>{% trans "Detalhes do grupo" %} <small>{{grupo.name}}</small></h1>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#usuarios" role="tab" data-toggle="tab">{% trans "Usuários" %}</a>
            </li>
            <li>
                <a href="#permissoes" role="tab" data-toggle="tab">{% trans "Permissões" %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="usuarios">
                {% if perms.auth.change_group %}
                    <form class="form-horizontal form-pesquisa" role="form" method="post" action="{% url 'usuarios:add_usuarios_grupo' grupo.pk %}">
                        {% csrf_token %}
                        <a class="add_usuario btn btn-default btn-mini" >
                            <i class="icon-plus"></i>&nbsp;{% trans 'Adicionar usuários' %}
                        </a>
                        <div class="form-group form_usuarios col-md-7">
                            <input id='busca_usuarios' type="text" name='nome' title='Digite o nome do usuário'>
                        </div>
                        <button class="btn btn-success btn_add_perm form_usuarios" type="submit">
                            <i class="icon-circle-arrow-right"></i> {% trans "Salvar" %}
                        </button>
                    </form>
                    <br/>
                {% endif %}
                <table class='table table-hover'>
                    <tr>
                        <th>
                            {% trans "Nome completo" %}
                        </th>
                        <th>
                            {% trans "Nome de usuário" %}
                        </th>
                        <th class='text-right'>
                            {% trans "Ações" %}
                        </th>
                    </tr>
                    {% for u in usuarios %}
                        <tr>
                            <td>
                                {{ u.nome_completo }}
                            </td>
                            <td>
                                {{ u.nome_usuario }}
                            </td>
                            <td class='text-right'>
                                <a class="btn btn-danger btn-xs exclui_usuario" href="{% url 'usuarios:confirm_exclui_usuario_grupo' grupo.pk u.pk %}"
                                    {% if not perms.auth.change_group %}disabled{% endif %}>
                                    {% trans "Remover" %}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class='text-center'>{% trans "Nenhum usuário encontrado." %}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% include "comum/pagination.html" with page_obj=usuarios is_paginated=True %}
            </div>
            <div class="tab-pane active" id="permissoes">
                <div class="row-fluid">
                    <form method="post" class="form-horizontal form-pesquisa" role="form">
                        {% csrf_token %}
                        <div class="span6">
                            {{ perm_form.permissoes }}
                        </div>
                    
                        <button type="submit" class="btn btn-primary" name='Salvar' style="clear:both; margin-top:30px;">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;Salvar</button>
                    </form>
                </div>
            </div>    
        </div>
        <br/>
        <div class="btn-group">
            <a class="btn btn-default btn-mini" href="{% url 'usuarios:lista_grupos' %}">
                <i class="icon-edit"></i>&nbsp;{% trans "Voltar para grupos" %}
            </a>
        </div>
    </div>
{% endblock %}

{% block endscripts %}
    <script src='{% static "js/jquery.tokeninput.js" %}'></script>
    <script type="text/javascript">
        $('#busca_permissoes').tokenInput("{% url 'usuarios:busca_permissoes' %}",{
            searchDelay: 500,
            minChars: 3,
        });
        $('#busca_usuarios').tokenInput("{% url 'usuarios:busca_usuarios_json' %}",{
            searchDelay: 500,
            minChars: 1,
        });
        $('.token-input-input-token').addClass('form-control');
        $( ".form_permissoes, .form_usuarios" ).hide();
        $(".add_permissao").click(function(){
            $( ".form_permissoes" ).fadeToggle(50);
        });
        $(".add_usuario").click(function(){
            $( ".form_usuarios" ).fadeToggle(50);
        });

/* Patch no select multiple do django-admin */
     $.each($("select[multiple]"), function () {
         SelectFilter.init(this.id, "", 0, "");
         });
         $('.selector-filter input').attr('placeholder', 'Pesquisar permissões');
         $('.selector-chosen').prepend("<p class='selector-filter-chosen'>"+
                       "<input class='filter-chosen' type='text' placeholder='Pesquisar permissões'>"+
                       "</p>");
         $('.filter-chosen').keyup(function() {
         var curr_text = $(this).val().toLowerCase();
         $('.selector-chosen select option').each(function() {
             if ($(this).text().toLowerCase().indexOf(curr_text) != -1)
             $(this).show();
             else
             $(this).hide();
         });
     });
     /*****************************************/        
    </script>
{% endblock %}
