{% extends "usuarios/base_usuarios.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='pagination'>
                    <p><a href="{% url 'usuarios:lista_usuarios' %}">{% trans "Usuários" %}</a> &raquo; {{ usuario }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1> {{ usuario.nome_completo }}
                    <small> {{usuario.email}}</small>
                </h1>
                <br/>
                {% if usuario == usuario_logado %}
                    <a class="btn btn-default" href="{% url 'usuarios:troca_senha' %}">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;{% trans "Trocar senha" %}</a>
                    <br/>
                    <br/>
                {% endif %}
                <table class="table table-hover">
                    <tr>
                        <td><strong>{% trans "Nome completo" %}</strong></td>
                        <td>{{ usuario.nome_completo }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Nome de usuário" %}</strong></td>
                        <td>{{ usuario.nome_usuario }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Email" %}</strong></td>
                        <td>{{ usuario.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Sobre" %}</strong></td>
                        <td>{{ usuario.sobre }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "É superusuário?" %}</strong></td>
                        <td>
                            {% if usuario.is_superuser %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Está ativo?" %}</strong></td>
                        <td>
                            {% if usuario.is_active %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Data e hora de criação" %}</strong></td>
                        <td> {{ usuario.data_hora_criacao }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Último login" %}</strong></td>
                        <td>
                            {% if usuario.ultimo_login %}
                                {{ usuario.ultimo_login }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    {% if usuario == usuario_logado or perms.usuarios.change_usuario%}
                        <a class="btn btn-primary" href="{% url 'usuarios:editar_usuario_sistema' usuario.pk %}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;{% trans "Editar" %}
                        </a>
                    {% endif %}
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}

{% block endscripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var formDiv = $('.formAdicionaGrupo');
            formDiv.hide();
            $(".adicionaGrupo").click(function () {
                formDiv.toggle();
            });
        });
    </script>
{% endblock %}
