{% extends "usuarios/base_usuarios.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans "Redefinição de senha" %}</h1>
                <p>{% trans "Digite o email cadastrado para receber as instruções para redefinir sua senha" %}</p>
                <br>
                <form method="post" class="form-horizontal form-pesquisa">
                    {% csrf_token %}
                    {{ form.email | boots_field }}
                    <div class='col-sm-7'>
                        <button class="btn btn-success pull-right" type="submit">
                            <i class="icon-circle-arrow-right"></i> {% trans "Enviar" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
