{% extends "usuarios/base_usuarios.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans "Grupos" %} <small>{% trans "pesquisar" %}</small></h1>
                {% if perms.auth.add_group %}
                    <form class="form-horizontal form-pesquisa" role="form" method="post" action="{% url 'usuarios:criar_grupo' %}">
                        {% csrf_token %}
                        <a class="criar_grupo btn btn-default btn-mini">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{% trans "novo grupo" %}
                        </a>
                        <div class="form-group" id='form_grupo_text'>
                            <input class="form-control" type="text" name='nome' placeholder='Nome do grupo'>
                        </div>
                        <div class="form-group" id='form_grupo_button'>
                            <button class="btn btn-success btn_cria_grupo" type="submit">
                                <i class="fa fa-arrow-circle-o-right"></i> {% trans "Salvar" %}
                            </button>
                        </div>
                    </form>
                    <br/>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="form-horizontal form_busca  form-pesquisa" role="form">
                    {% csrf_token %}
                    {% for field in form_busca %}
                        {{ field|boots_field }}
                    {% endfor %}
                    {% include 'comum/salvar_cancelar.html' with ok='Pesquisar' cancelar='Limpar' flag_cancelar=True %}
                </form>
                <br/>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class='table table-hover'>
                    <tr>
                       <th>{% trans "Nome do grupo" %}</th>
                       <th class='text-right'>{% trans "Ações" %}</th>
                    </tr>
                    {% for g in grupos %}
                        <tr>
                            <td>
                                <a href='{% url "usuarios:detalhe_grupo" g.pk %}'>
                                    {{ g }}
                                </a>
                            </td>
                            <td class='text-right'>
                                <div class="btn-group">
                                    <a class="btn btn-default btn-xs" href="{% url 'usuarios:detalhe_grupo' g.pk %}"
                                        {% if not perms.auth.change_group %}disabled{% endif %}>
                                        <i class="icon-edit"></i>&nbsp;{% trans "Editar" %}
                                    </a>
                                    <a class="excluir_grupo btn btn-danger btn-xs" href="{% url 'usuarios:confirm_exclui_grupo' g.pk %}"
                                        {% if not perms.auth.delete_group %}disabled{% endif %}>
                                        <i class="icon-trash"></i>&nbsp;{% trans "Excluir" %}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                    <tr><td colspan='2' class='text-center'>{% trans "Não há grupos a serem exibidos." %}</td></tr>
                    {% endfor %}
                </table>
                {% include "comum/pagination.html" with page_obj=grupos is_paginated=True %}
            </div>
        </div>
    </div>
{% endblock %}

{% block endscripts %}
    <script type="text/javascript">
        $( "#form_grupo_text" ).hide(0);
        $( "#form_grupo_button" ).hide(0);
        $(".criar_grupo").click(function(){
            $( "#form_grupo_text" ).fadeToggle(50);
            $( "#form_grupo_button" ).fadeToggle(50);
        });;
    </script>
{% endblock %}
