{% extends "usuarios/base_usuarios.html" %}

{% load i18n admin_static %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='pagination'>
                    <p><a href="{% url 'usuarios:detalhe_usuario' user.pk %}">{{ user }}</a> &raquo; {% trans "Trocar senha" %}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class='form-horizontal form-pesquisa' method="post">
                {% csrf_token %}
                    <div>
                    {% if form.errors %}
                        <p class="errornote">
                        {% if form.errors.items|length == 1 %}
                            {% trans "Favor corrigir o erro abaixo." %}
                        {% else %}
                            {% trans "Favor corrigir os erros abaixo." %}
                        {% endif %}
                        </p>
                    {% endif %}
                    <p>
                        {% trans "Por favor, informe sua senha antiga, por segurança, e então informe sua
                        nova senha duas vezes para que possamos verificar se você digitou corretamente." %}
                    </p>
                    <fieldset class="module aligned wide">
                    <div class="form-row">
                        {{ form.old_password.errors }}
                        {{ form.old_password | boots_field }}
                    </div>
                    <div class="form-row">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 | boots_field }}
                    </div>
                    <div class="form-row">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 | boots_field }}
                    </div>
                    </fieldset>
                    <div class="submit-row col-sm-offset-2">
                        <input class="btn btn-primary" type="submit" value="{% trans 'Alterar minha senha' %}" class="default" />
                    </div>
                    <br>
                    <script type="text/javascript">
                        document.getElementById("id_old_password").focus();
                    </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
