{% extends "usuarios/base_usuarios.html" %}

{% load i18n admin_static %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if validlink %}
                    <br>
                    <p>{% trans "Por favor, digite a sua nova senha duas vezes para que possamos verificar se você digitou corretamente" %}</p>
                    <form class="form-horizontal  form-pesquisa" method="post">
                        {% csrf_token %}
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 | boots_field }}
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 | boots_field }}
                        <br>
                        <input class="btn btn-default" type="submit" value="{% trans 'Change my password' %}" />
                    </form>
                {% else %}
                    <p>{% trans "Esse link é inválido. Possivelmente alguém já utilizou o mesmo. Favor requisitar uma nova troca de senha." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
