{% extends "usuarios/base_usuarios.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans "Usuários" %} <small>{% trans "pesquisar" %}</small></h2>
                {% if perms.usuarios.add_usuario %}
                    <a class="btn btn-default" href="{% url 'usuarios:criar_usuario_sistema' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{% trans "Novo usuário" %}
                    </a>
                    <br/>
                    <br/>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <form method="post" class="form-horizontal form_busca form-pesquisa" role="form" id='form-pesquisa-usuario'>
                {% csrf_token %}
                {% for field in form_busca %}
                    {{ field|boots_field }}
                {% endfor %}
                {% include 'comum/salvar_cancelar.html' with ok='Pesquisar' cancelar='Limpar' flag_cancelar=True %}
            </form>
            <br/>
            <br/>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#u_ativos" role="tab" data-toggle="tab">{% trans "Usuários ativos" %}</a></li>
                    <li><a href="#u_inativos" role="tab" data-toggle="tab">{% trans "Usuários inativos" %}</a></li>
                </ul>
                <div class="tab-content">
                    <br/>
                    <div class="tab-pane active" id="u_ativos">
                        {% if usuarios_a %}
                            <table class='table table-hover'>
                                <tr>
                                   <th>{% trans "Nome completo" %}</th>
                                   <th>{% trans "Nome de usuário" %}</th>
                                   <th>{% trans "Email" %}</th>
                                   <th>{% trans "Ativo?" %}</th>
                                   <th class='text-right'>{% trans "Ações" %}</th>
                                 </tr>
                                {% for u in usuarios_a %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'usuarios:detalhe_usuario' u.pk %}">
                                                {{ u.nome_completo }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ u.nome_usuario }}
                                        </td>
                                        <td>
                                            {{ u.email }}
                                        </td>
                                        <td>
                                            {% if u.is_active %}
                                                <span class="glyphicon glyphicon-ok"></span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-remove"></span>
                                            {% endif %}
                                        </td>
                                        <td class='text-right'>
                                            <div class="btn-group">
                                                {% if u == user or perms.sistema.change_usuario %}
                                                <a class="btn btn-default btn-xs" href="{% url 'usuarios:editar_usuario_sistema' u.pk %}">
                                                    <i class="icon-edit"></i>&nbsp;{% trans "Editar" %}
                                                </a>
                                                {% endif %}
                                                {% if perms.sistema.delete_usuario %}
                                                <a class="excluir_usuario btn btn-danger btn-xs" href="{% url 'usuarios:confirm_exclui_usuario' u.pk %}">
                                                    <i class="icon-trash"></i>&nbsp;{% trans "Excluir" %}
                                                </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% include "comum/pagination.html" with page_obj=usuarios_a is_paginated=True %}
                        {% else %}
                            <div class='text-center'>{% trans "Nenhum usuário encontrado." %}</div>
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="u_inativos">
                        {% if usuarios_i %}
                            <table class='table table-hover'>
                                <tr>
                                   <th>{% trans "Nome completo" %}</th>
                                   <th>{% trans "Nome de usuário" %}</th>
                                   <th>{% trans "Email" %}</th>
                                   <th>{% trans "Ativo?" %}</th>
                                   <th class='text-right'>{% trans "Ações" %}</th>
                                 </tr>
                                {% for u in usuarios_i %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'usuarios:detalhe_usuario' u.pk %}">
                                                {{ u.nome_completo }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ u.nome_usuario }}
                                        </td>
                                        <td>
                                            {{ u.email }}
                                        </td>
                                        <td>
                                            {% if u.is_active %}
                                                <span class="glyphicon glyphicon-ok"></span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-remove"></span>
                                            {% endif %}
                                        </td>
                                        <td class='text-right'>
                                            <div class="btn-group">
                                                {% if u == user or perms.sistema.change_usuario %}
                                                <a class="btn btn-default btn-xs" href="{% url 'usuarios:editar_usuario_sistema' u.pk %}">
                                                    <i class="icon-edit"></i>&nbsp;{% trans "Editar" %}
                                                </a>
                                                {% endif %}

                                                {% if perms.sistema.delete_usuario %}
                                                <a class="excluir_usuario btn btn-success btn-xs" href="{% url 'usuarios:restaura_usuario' u.pk %}">
                                                    <i class="icon-trash"></i>&nbsp;{% trans "Restaurar" %}
                                                </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% include "comum/pagination.html" with page_obj=usuarios_i is_paginated=True %}
                        {% else %}
                            <div class='text-center'>{% trans "Nenhum usuário encontrado." %}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
