<!DOCTYPE html>
<html>
<head>
    <title>Django-Usuarios</title>
</head>
<body>
    {% block titulo_pagina %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block end_scripts %}
    {% endblock %}
</body>
</html>
