{% extends "base_usuarios.html" %}

{% load i18n %}

{% block content %}
    <form class="form-horizontal  form-pesquisa" role="form">
        <fieldset>
            <h3><i class="fa fa-square"></i> {% trans "Alterar senha" %}</h3>
            <div class="form-group">
                <label for="old-password" class="col-sm-3 control-label">{% trans "Senha atual" %}</label>
                <div class="col-sm-4">
                    <input type="password" id="old-password" name="old-password" class="form-control">
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">{% trans "Nova senha" %}</label>
                <div class="col-sm-4">
                    <input type="password" id="password" name="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="password2" class="col-sm-3 control-label">{% trans "Repita a nova senha" %}</label>
                <div class="col-sm-4">
                    <input type="password" id="password2" name="password2" class="form-control">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <h3><i class="fa fa-square"></i> {% trans "Privacidade" %}</h3>
            <div class="simple-checkbox">
                <input type="checkbox" id="checkbox">
                <label for="checkbox">{% trans "Mostrar meu nome real" %}</label>
            </div>
            <div class="simple-checkbox">
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2">{% trans "Mostrar minha data de aniversário" %}</label>
            </div>
            <div class="simple-checkbox">
                <input type="checkbox" id="checkbox3">
                <label for="checkbox3">{% trans "Mostrar meu email" %}</label>
            </div>
        </fieldset>
        {% include "sistema/botao_salvar.html" %}
    </form>
{% endblock %}
