{% extends "base_usuarios.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}
    <section id="login-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 block-center text-center">
                    <form class="form-horizontal" role="form" method="post">
                        {% csrf_token %}
                        {% comment %} nome de usuário {% endcomment %}
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="input-group">
                                    <label for="username" class="control-label sr-only">{% trans "Nome de Usuário" %}</label>
                                    <span class="input-group-addon form-addon-100px-centro">{% trans "usuário" %}</span>
                                    {{ login_form.nome_usuario|attr:"placeholder:nome de usuário"|attr:"class:form-control"|attr:"type:text" }}
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        {% comment %} senha {% endcomment %}
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="input-group">
                                    <label for="password" class="control-label sr-only">{% trans "Senha" %}</label>
                                    <span class="input-group-addon form-addon-100px-centro">
                                        {% trans "senha" %}
                                    </span>
                                    {{ login_form.senha|attr:"placeholder:senha"|attr:"class:form-control"|attr:"type:password" }}
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button class="btn btn-success" type="submit"><i class="fa fa-arrow-circle-o-right"></i> {% trans "Login" %}</button>
                        <a href="{% url 'usuarios:esqueci_senha' %}" class="btn btn-default"><i class="fa fa-question-circle"></i> {% trans "Esqueci senha" %}</a>
                        <a class="btn btn-default" href="#"><i class="fa fa-comment"></i> {% trans "Solicitar login" %}</a>
                    </form>
                    {% comment %} Mensagem de erro caso o usuário/senha esteja incorreto {% endcomment %}
                    {% if error_message %}
                        <div id='error-message'class="col-md-6 col-md-offset-3">{{ error_message }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
